body {
  margin: 0;
  min-height: 400px;
  margin-bottom: 10px;
  clear: both;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  height: 20px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Page content */
.content {
  padding: 16px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.formy input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
form.formy input[type="text"]:focus {
  width: 70%;
}

/* Style the submit button */
form.formy button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  min-width: 20px;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.formy button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.formy::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #0b7dda;
}
